.SaladPreview {
    flex: 0 0 500px;
    height: 400px;
    margin-right: 1rem;
    margin-bottom: 1rem;
    border-radius: 100%;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .ingredients {
    width: 400px;
    height: 400px;
    border-radius: 100%;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .price {
    background-color: #213F36;
    border-radius: 1rem;
    padding: 0 1rem;
    font-size: 1.5rem;
    color: white;
    font-weight: bold;
  }
  